bi_directional_concat_256_batch_160_epoch_30_length_ass_eng_nmt_weights.h5 filter=lfs diff=lfs merge=lfs -text
train.pickle filter=lfs diff=lfs merge=lfs -text
validation.pickle filter=lfs diff=lfs merge=lfs -text
